:root {
  --dark: #14171d;
}

.vh-80 {
  height: 80vh;
}

.hero-container {
  height: 600px;
}

.hero-background {
  background-color: var(--dark);
  height: 600px;
  position: absolute;
  transition: 1s ease-in-out;
  width: 0;
}

.hero-img {
  max-width: 450px;
  transition: 2s ease-in-out;
  width: 100%;
  z-index: 1000;
}

.img-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 600px;
}
.hero-text {
  transition: 1s ease-in-out;
}

.btn {
  background-color: red;
  border-color: red;
  padding: 0.45rem 1.65rem;
}

.btn:hover {
  background-color: #b21b1e;
  border-color: #b21b1e;
}

@media (max-width: 1024px) {
  .display-1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .hero-content {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
  }
  .hero-container {
    height: unset;
  }
  .hero-background {
    height: 100%;
  }
}

@media (max-width: 575.98px) {
  .btn {
    width: 100%;
  }
}
