/* section {
  display: grid;
  height: 90vh;
  place-content: center;
  place-items: center;
} */
section > .container-Login {
  /* border: 1px red solid; */
  color: white;
  display: grid;
  height: 70vh;
  margin: auto;
  place-content: center;
  place-items: center;
}

.Login-Welcome {
  color: white;
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 30px;
}

.form-control.Login-input {
  padding: 0.375rem 35px;
}

.form-signin .form-group {
  margin-bottom: 22px;
}

/* Buttons Container */
.Buttons-Container {
  /* border: 1px solid red; */
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 330px;
}

.btn-colorWhite {
  color: white;
}
/* Buttons Container End */
