.Container_not-Found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
  width: 100vw;
  position: relative;
}

.Container_not-Found div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1-404-details {
  /* text-align: center; */
  font-size: 60px;
  color: white;
  font-weight: 500;
  margin-bottom: 50px;
}

.h1-404 {
  text-align: center;
  font-size: 200px;
  color: white;
  font-weight: 700;
}
