.navbar {
  min-height: 50px;
}

/* Avatar */
.avatar-Container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Avatar {
  border-radius: 9999px;
  height: 49px;
  width: 49px;
}

.Avatar + strong {
  margin-left: 8px;
}
